/build/main.lst
/build/main.map
/build/main.o
/build/main.sym
/build/main.sav
/build/background
/build/savestate.lst
/build/savestate.o
/build/sprite_bank.lst
/build/sprite_bank.o
/.vscode
!/.vscode/tasks.json
!/.vscode/settings.json